.PlaylistPage {
    padding: 10%;
}

.NavBar {
    margin-bottom: 200px;
}

.title {
    margin-top: 20px;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.modal1 {
    width: 50%;
    margin: 10px;
}